:root{
    --color: rgb(135,0,0)
}
a{
    text-decoration: none;
    color: white;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-image: linear-gradient(to right, var(--color), black, black, black, var(--color));
    top: 0
}
.navbar .nav-logo .logo-text{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
.section-content{
    margin:0 auto;
    padding: 0 20px;
    max-width: 1300px;
    
}
header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav{
    display: flex;
    gap: 10%;
    margin-right: 20%;
}
.navbar .nav .nav-link {
    padding: 10px 18px;
    border-radius: 30px;
    transition: 0.3s ease;
    color: white;
}

.navbar .nav .nav-link:hover {
    background: rgb(179, 88, 88);
    color: #3b141c;
}

#menu-close-button, #menu-open-button{
    display: none;
}

body{
    background-image: linear-gradient(to right, var(--color), black, black, black, var(--color));
}
.glassHouses:hover, .horrorHotel:hover{
    opacity: 1;
}
.footer-section{
    padding: 20px 0;
    background: #252525;
    bottom: 0;
}
.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-section :where(.copyright-text, .social-link, .policy-link){
    color: white;
    transition: 0.2s ease;
}
.footer-section .social-link-list{
    display: flex;
    gap: 25px;
}
.footer-section .social-link-list .social-link{
    font-size: 1.5rem;
}
.footer-section .social-link-list .social-link:hover
.footer-section .policy-text .policy-link:hover{
    color:#f3961c;
}
.footer-section .policy-text .separator{
    margin: 0 5px;
    color: white
}
main{
    color: white;
    position: relative;
    top: 15vh;
    margin-bottom: 28vh;
}
.title{
    display: block;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    flex: 1;
}
.horrorHotel, .glassHouses{
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px white;
    margin-left: 2vh;
    margin-right: 2vh;
    background-color: #252525;
    text-align: center;
    opacity: 0.5;
    transition: 0.4s ease;
    text-align: center;
}
.horrorHotel > img, .glassHouses > img{
    width: 40vh;
    height: 40vh;
    box-shadow: 0px 0px 10px 1px white;
}
.container:hover > div {
  flex: 0.5;
  opacity: 0.5;
}
.container > div:hover {
  flex: 5;
  opacity: 1;
  transform: scale(1.05);
}
.container > div .spawn, .description{
    display: none;
}
.container > div:hover .thumb{
    display: none;
}
.container > div:hover .spawn{
  display:block;
  width: 60vh;
  margin: auto;
}
.container > div:hover .description{
    display: flex;
    margin: 5vh;
}

@media only screen and (max-width: 640px) {
    .navbar .nav{
        display: block;
        position: fixed;
        left: -350px;
        top: -2.1vh;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: white;
        gap: 50px;
        transition: left 0.2s ease;
    }
    body.show-mobile-menu .navbar .nav{
        left:0;
    }
    .navbar .nav .nav-link{
        color: #252525;
        display: block;
        font-size: 1.5rem;
    }
    .navbar .nav .SignIn{
        margin-top: 30px;
    }
    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }
    #menu-close-button, #menu-open-button{
        font-size: 1.5rem;
        display: block;
    }
    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;    
    }
    .footer-section .section-content{
        flex-direction: column;
        gap: 20px;
    }
    .container{
        display: block;
    }
    .horrorHotel{
        margin-bottom: 10vh;
    }
    body {
        overflow-x: hidden;
    }
    .container > div:hover {
        transform: none;
    }
    .container > div:hover .spawn{
        width: 50vh;
    }
}