:root{
    --color: rgb(135,0,0)
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-image: linear-gradient(to right, var(--color), black, black, black, var(--color));
}
.navbar .nav-logo .logo-text{
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
.section-content{
    margin:0 auto;
    padding: 0 20px;
    max-width: 1300px;
    
}
header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .nav{
    display: flex;
    gap: 10%;
    margin-right: 20%;
}
.navbar .nav .nav-link {
    padding: 10px 18px;
    border-radius: 30px;
    transition: 0.3s ease;
    color: white;
}

.navbar .nav .nav-link:hover {
    background: rgb(179, 88, 88);
    color: #3b141c;
}
body{
    background-image: linear-gradient(to right, var(--color), black, black, black, var(--color));
}
.image{
    width: 35%;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    position: relative;
}
.hero-details{
    color: white;
    background-color: black;
    width: 60%;
    font-size: 1.2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px white;
    position: relative;
    bottom: 10vh;
}
.description{
    padding-left: 10px;
    padding-right: 10px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.killer{
    width: 20rem;
}
main{
    position: relative;
    top: 13vh;
    display: flex;
    color: white;
    justify-content: center;
    margin-bottom: 10vh;
}
.card{
    background-color: black;
    color: white;
    width: 50vh;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px white;
    text-align: center;
    height: 95vh
}
.killer{
    margin-top: 5vh;
}

.i1, .i2, .ititle{
    border: 1px solid white;
    border-radius: 5px;
    margin: 1vh;
}
.ititle{
    width: 47.5vh;
}
.info1, .info2, .info3{
    display: flex;
}
.i1, .i2{
    width: 22.5vh;
}
.abilities{
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px white;
    margin-left: 2vh;
    width: 120vh;
    margin-left: 5vh;
    margin-bottom: 10vh;
}
.abilities > h1, .slash, .ability1, .ability2, .ability3 ,.ability4{
    padding: 20px;
    margin-left: 1vh;
}
.slash, .ability1, .ability2, .ability3, .ability4{
    display: flex;
}
.slash > img, .ability1 > img, .ability2 > img, .ability3 > img, .ability4 > img{
    margin-right: 20px;
    object-fit: contain;
}
.description{
    border: 1px solid white;
    border-radius: 5px;
}
.description > h2, p, b{
    margin-left: 1vh;
}
.slash > .description, .ability1 > .description, .ability2 > .description, .ability3 > .description, .ability4 > .description{
    width: 100vh;   
}
.footer-section{
    padding: 20px 0;
    background: #252525;
}
.footer-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-section :where(.copyright-text, .social-link, .policy-link){
    color: white;
    transition: 0.2s ease;
}
.footer-section .social-link-list{
    display: flex;
    gap: 25px;
}
.footer-section .social-link-list .social-link{
    font-size: 1.5rem;
}
.footer-section .social-link-list .social-link:hover
.footer-section .policy-text .policy-link:hover{
    color:#f3961c;
}
.footer-section .policy-text .separator{
    margin: 0 5px;
    color: white
}
#menu-close-button, #menu-open-button{
    display: none;
}
@media only screen and (max-width: 640px) {
    .navbar .nav{
        display: block;
        position: fixed;
        left: -350px;
        top: -2.1vh;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: white;
        gap: 50px;
        transition: left 0.2s ease;
    }
    body.show-mobile-menu .navbar .nav{
        left:0;
    }
    .navbar .nav .nav-link{
        color: #252525;
        display: block;
        font-size: 1.5rem;
    }
    .navbar .nav .SignIn{
        margin-top: 30px;
    }
    body.show-mobile-menu header::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgba(0, 0, 0, 0.2);
    }
    #menu-close-button, #menu-open-button{
        font-size: 1.5rem;
        display: block;
    }
    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;    
    }
    .footer-section .section-content{
        flex-direction: column;
        gap: 20px;
    }
    body {
        overflow-x: hidden;
    }
    main{
        display: block;
    }
    .card{
        margin: auto auto;
        margin-bottom: 5vh;
        height: 100vh;
    }
    .abilities{
        margin-bottom: 20vh !important;
        max-width: 380px;
        margin: auto auto;
    }
    .slash, .ability1, .ability2, .ability3, .ability4{
        display: block;
    }
    .slash > img, .ability1 > img, .ability2 > img, .ability3 > img, .ability4 > img{
        margin-bottom: 2vh !important;
        margin: auto auto;
        display: block;
    }
    .slash > div, .ability1 > div, .ability2 > div, .ability3 > div, .ability4 > div{
        width: 70vw !important;
        max-width: 70vw !important;
        position: relative;
        right: 1.5vw;
    }
}
